<h1>MoviePop!</h1>
<h3>Search Movies</h3>

<!-- OUR FORM TO SEARCH SHIT IN APPLICATION.HTML.ERB-->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
<hr>
<div id="movies_results"></div>
</div>


<!-- AJAX REQUEST IN APPLICATION.JS -->
