<h1>MoviePop!</h1>
<h3>Search Movies</h3>


<!-- OUR FORM TO SEARCH SHIT -->

<form method="get" action="/movies" >
  <input id="search_movies" type="text" name="ackbarsearches" placeholder="i.e. The Matrix" class="search_bar"/>
  <input type="Submit">
</form>



<!-- //////// CREATE MODEL "MOVIE" WITH COLUMN SEARCH:STRING -->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
<b><p>Results</p></b><hr>
<div id="movies_results"></div>
</div>

<!-- AJAX REQUEST IN APPLICATION.JS -->
