<h1>MoviePop!</h1>
<h3>Search Movies</h3>


<!-- OUR FORM TO SEARCH SHIT -->
<%= form_for @movie, :remote => true, :html => { id: "ackbarsearches" } do |m| %>
  <%= m.text_field :search, placeholder: "i.e. The Matrix", id: "search_movies" %>
  <%= m.submit "Search" %><br><br>
<% end %>


<!-- //////// CREATE MODEL "MOVIE" WITH COLUMN SEARCH:STRING -->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
<b><p>Results</p></b><hr>
<div id="movies_results"></div>
</div>

<!-- AJAX REQUEST IN APPLICATION.JS -->
