<!-- <div id="titles">
  <h1 id="siteTitle">MoviePop!</h1>
  <h4 id="siteSubTitle">Search For and Save Your Movies</h4>
</div> -->
<!-- OUR FORM TO SEARCH SHIT IN APPLICATION.HTML.ERB-->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
  <div id="movies_results"></div>
    <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
</div>
<div class="flash_success">
</div>
<!-- AJAX REQUEST IN APPLICATION.JS -->
