<h1 id="siteTitle">MoviePop!</h1>
<h4 id="siteSubTitle">Search For and Save Your Movies</h4>

<!-- OUR FORM TO SEARCH SHIT IN APPLICATION.HTML.ERB-->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
<hr>
<div id="movies_results"></div>
</div>


<!-- AJAX REQUEST IN APPLICATION.JS -->
