<h1>MoviePop!</h1>
<h3>Search Movies</h3>


<!-- OUR FORM TO SEARCH SHIT -->
<%= form_for @movie do |m| %>
  <%= m.text_field :search, placeholder: "i.e. The Matrix", id: "search_movies" %>
  <%= m.submit "Search" %><br><br>
<% end %>
</div>
<!-- //////// CREATE MODEL "MOVIE" WITH COLUMN SEARCH:STRING -->


<!-- OUR DIV TO DISPLAY OUR SEARCHED STUFF -->
<div class="blocks">
<b><p>Results</p></b><hr>
<div id="movies_results"></div>
</div>


<!-- AJAX REQUEST -->
<script type="text/javascript">
  // start of the jQuery ready function and makes sure page is loaded and ready
  $(function() {
    // alert("test");

    // 1. prevent default action of the form (prevent it from going to the search method in the controller)
    $('form').on('submit', function(event) {
      event.preventDefault();
      // 2. capture the params of the form
      var query = $('#search_movies').val();
      // 3. do a "GET" request to sent the params to get info
      var get_request = $.ajax({
        url: "http://www.omdbapi.com/?s=" + query,
        type: "get",
      }); //end of AJAX request

      $('#movies_results').empty();

      get_request.done(function(data) {
          for (var i = 0; i < data.length; i++) {
            console.log(data["search"])
          }
          var item = data
          $("#movies_results").append(item);
      });

      $('#search_movies').empty();
    });

  });
</script>

