/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 70px;
}
#container {
  margin: 20px;
}
.poster {
  margin: 20px;
}
img {
  height: 250px;
  width: auto;
}
.favorites {
  float: left;
  padding: 15px;
  text-align: center;
}
/*.remove_fave {
  float: left;
}*/


#search {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}
#login {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}
input, button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
}