/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

p {
  font-size: 20px;
}

li {
  list-style-type: none;
  background-color: #eee;
  border-top: 1px solid #fff;
  padding: 8px;
  font-size: 18px;
}

li:hover {
  background-color: lightgray;
}

body {
  padding-top: 70px;
}

#container {
  margin: 20px;
}
/*.poster {
  margin: 20px;
}*/
.poster {
  float: left;
}

.poster, .plot {
  padding: 10px;
}

img {
  height: 400px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.favorites {
  float: left;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
  width: 300px;
}

#search {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}
#login {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

input, button {
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #999;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
}

.searchedTitle {
  font-size: 30px;
  font-weight: bold;
}

#siteTitle {
  font-size: 70px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
}
#siteSubTitle {
  font-size: 30px;
  font-family: 'Poiret One', sans-serif;
}