/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  background-color: #ffeb80;
  padding: 5px;
}

p {
  color: #333;
  font-size: 28px;
  padding-left: 75px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  background-color: #ffe7ce;
  border-top: 30px solid lightyellow;
  padding: 10px;
  font-size: 33px;
}

li:hover {
  background-color: #f39c12;
}

#container {
  margin: 50px;
}

.poster {
  float: left;
}

.poster img {
  width: 300px;
  height: 425px;
  margin-left: 100px;
  margin-right: 20px;
}

.what img{
  height: 400px;
  width: auto;
  opacity:0.75;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.poster img{
  height: 400px;
  width: auto;
  opacity:1.0;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

img:hover {
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.favorites {
  margin: 25px;
  padding: 0px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#del_button {
  text-align: left;
  font-size: 20px;
  color: lightyellow;
  background-color: #000;
  float: left;
  cursor: pointer;
  width: 100%;
}

#titles {
  position: relative;
  float: left;
}

#search {
 padding: 5px 0 0 40%;
 text-align: center;
}

#login {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-align: right;
}

button, button#see_favorites, button#ackbarsearches {
  margin: 10px;
  padding: 15px;
  font-family: "Poiret One";
  font-size: 20px;
  letter-spacing: 8px;
  border-radius: 15px;
  border: 0px solid #CCC;
  background: lightblue;
}

input.search_bar {
  width: 400px;
  margin: 0px;
  padding: 8px;
  font-family: "Poiret One";
  font-size: 30px;
  letter-spacing: 8px;
  border-radius: 15px;
  border: 0px solid #CCC;
  background: #FFF;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
    background: lightyellow;
}

.searchedTitle {
  font-size: 30px;
  font-weight: bold;
}

#siteTitle {
  font-size: 70px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
}

#siteSubTitle {
  font-size: 30px;
  font-family: 'Poiret One', sans-serif;
}

.flash_success {
  bottom: 0px;
  font-size: 20px;
}
#splash {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  width: 100%;
  height: auto;
}

@media (max-width: 1275px) {
  header {
    padding: 5px;
  }
  div#search {
    padding: 0;
  }
  input.search_bar {
    width: 100%;
  }
  button#see_favorites, button#ackbarsearches {
    float: block;
    width: 100%;
    font-size: 30px;
    letter-spacing: 8px;
  }
  #siteTitle {
    font-size: 50px;
    letter-spacing: 15px;
    padding: 5px;
  }
  #siteSubTitle, #splash {
    display:none;
  }
  img {
    width: 70%;
    height: auto;
  }
  div {
    margin: 0px;
    padding: 0px;
    display: block;
  }
}

